/* FONT */

$font: 'Lato', sans-serif;
$color1: hsla(0, 0%, 100%, 1)HSLA(0, 0%, 100%, 1);

// @mixin boxText {
//   font-family: $font;
//   color: $color1;
// }

// .boxTop {
//   @include boxText;
// }

.container {
  width: 1000px;
}

.timeCon {
  float: left;
  width: 118px;
  margin: 28px 0px 0px 21px;
}

.boxTop, .boxBottom {
  float: left;
  position: relative;
  width: 100%;

  span {
    display: block;
    color: hsla(202, 33%, 78%, 1);
    font-size: 16px;
    text-align: right;
  }

  time {
    font-size: 47px;
    color: hsla(202, 100%, 40%, 1);
    display: block;
  }

  img {
    position: absolute;
    top: -12px;
    right: -70px;
    background-color: hsla(197, 100%, 44%, 1);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    border: 8px solid hsla(202, 96%, 81%, 1);
  }
}

.textCon {
  float: right;
  width: 600px;
}

.textTop {
  background-color: hsla(199, 92%, 62%, 1);
}

.textBottom {
  float: right;
  background-color: hsla(199, 92%, 62%, 1);
}
